---
layout: default
title: Blog
navbar_title: Blog
permalink: /blog/
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign posts_by_year = site.posts | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

{% if posts_by_year.size > 0 %}
<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in posts_by_year %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for post in year.items %}
                {% include widgets/blog_item.html item=post hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in posts_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<p class="pt-4 text-muted">Posts will appear here after the first Markdown file is added to <code>_posts</code>.</p>
{% endif %}
