---
layout: default
title: Blog
navbar_title: Blog
permalink: /blog/
---

<section class="blog-index">
    <header class="blog-index-header">
        <h1>Blog</h1>
    </header>

    {% assign posts = site.posts | sort: "date" | reverse %}
    {% if posts.size > 0 %}
    <div class="blog-post-list">
        {% for post in posts %}
        <article class="blog-post-summary">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% elsif post.excerpt %}
            <p>{{ post.excerpt | strip_html | normalize_whitespace }}</p>
            {% endif %}
            {% if post.tags and post.tags.size > 0 %}
            <div class="blog-tags" aria-label="Tags">
                {% for tag in post.tags %}<span>{{ tag }}</span>{% endfor %}
            </div>
            {% endif %}
        </article>
        {% endfor %}
    </div>
    {% else %}
    <p class="blog-empty">Posts will appear here after the first Markdown file is added to <code>_posts</code>.</p>
    {% endif %}
</section>
